# JNTUA FDP - Day 05

#### Date : 31 May 2019

#### Day Objectives
* Tuples
* Dictionaries
* Idiomatic Programming in Python
* Regular Expressions
* Date Arithmetic
* Iterators and Generators
* Functional Programming

#### Python Tuples

In [1]:
t1 = (1001, 'name', 72, 90)

In [7]:
t1[2:]

(72, 90)

In [11]:
t2 = (321, 654, 789098)
# Accessing all the second digits of elements in a tuple
print(str(t2[0])[1],  str(t2[1])[1],  str(t2[2])[1])

2 5 8

In [18]:
# Function to calculate the Average of all elements in a tuple
def averageLinearDS(t):
    sum = 0
    #for i in range(0, len(t)):
     #   sum += t[i]
    for item in t:
        sum += item
    return sum/len(t)

li = [123, 243, 456, 678, 890]

averageLinearDS(li)
type(t1)

tuple

In [14]:
# Function to search in a Linear Data Structure

def searchLinearDS(ds, key):
    for item in range(0, len(ds)):
        if ds[i] == key:
            return i
    return -1

searchLinearDS(li, 456)

2

#### Iterable Objects

In [20]:

s = "python"
for i in s:
    print(i)

p
y
t
h
o
n

In [24]:
# Function to identify the maximum element in a DS as Iterable Object

def maxElementDS(ds):
    m = ds[0]
    for item in ds:
        if item < m:
            m = item
    return m
    
maxElementDS(li)

123

#### Python Dictionaries

In [28]:
d1 = {'name1':1234567789, 'name2':32157634875}
print(d1['name2'])

d1.keys() # All keys in a dictionary are unique
d1.values()

32157634875

dict_values([1234567789, 32157634875])

In [33]:
d1['name1'] = '3286427465'
d1

{'name2': 32157634875, 'name1': '3286427465'}

In [32]:
d1.pop('name1') # removes a key and value
d1

{'name2': 32157634875}

In [38]:
#d1.pop('name1')
d1.keys()

del d1

In [2]:
# Contacts Application
# Display, Add, Modify and Delete contacts

contacts = {}

def addContact(d, name, phone):
    d[name] = phone
    return

def displayContacts(contacts):
    for name, phone in contacts.items():
        print(name, ":", phone)
    return

def modifyContacts(contacts, name, newphone):
    contacts[name] = newphone
    return

def deleteContact(contacts, name):
    contacts.pop(name)
    return

In [6]:
#Adding Contacts
addContact(contacts, 'name2', 87458345)
addContact(contacts, 'name1', 364887458345)

In [8]:
#Display Contacts
displayContacts(contacts)

name2 : 87458345
name1 : 364887458345

In [9]:
contacts.items() # List of tuples of all items

dict_items([('name2', 87458345), ('name1', 364887458345)])

In [25]:
li2 = [1, 2, 3, 4]
li3 = [5, 6, 7, 8, 9]
li2 = list(reversed(li2))

type(li2)

li2

[4, 3, 2, 1]

In [23]:
enumerate(li2)
for i, value in enumerate(li2):
    print(i, ':', value)

0 : 4
1 : 3
2 : 2
3 : 1

In [29]:
li2
li3

for i, j in zip(li2, li3):
    print(i, j)
    
zip(li2, li3)

4 5
3 6
2 7
1 8

#### Regular Expressions

[0-9] RE for all single digits
[0, 1, 2, 3 ... 9]

0
1
2
33


[a-z] RE for all lower case alphabet
[A-Z] RE for all upper case alphabet

[10]

In [ ]:

#Function to validate college student roll no

#Function to validate indian phone numbers starting 9, 8, 7, 6 and have 10 digits

# Function to validate email address
        username@domain.extension
        username = {string of length 9. can contain digits, _, alphabet}
        domain = (string of 9. can contain digits and alphabet)
        extension = {length of 3. Only alphabet}

In [32]:
import re
def phoneNumberValidator(phone):
    phone = str(phone)
    pattern = '^[6-9][0-9]{9}$'
    if re.match(pattern, phone):
        return True
    return False


phoneNumberValidator(9234567890)

True

In [34]:
s1 = 'Introduction to programming concepts with scratch, Scratch environment, sprites looks and motion, Angles and directions, repetition and variation, changing costumes, adding background, Input/Output,  variables and operators. Working with sounds and sprite communication and creating stories, App Generation.'

In [35]:
syllabusList = re.split('[,][\ ]', s1)

syllabusList

['Introduction to programming concepts with scratch',
 'Scratch environment',
 'sprites looks and motion',
 'Angles and directions',
 'repetition and variation',
 'changing costumes',
 'adding background',
 'Input/Output',
 ' variables and operators. Working with sounds and sprite communication and creating stories',
 'App Generation.']

#### Python Date Time Arithmetic

In [48]:
import datetime

now = datetime.datetime.now()
print(now.hour, now.minute, now.second)

print(now)

17 9 38
2019-05-31 17:09:38.549592

In [54]:
# Function to find the difference between two given dates
# YYYY:MM:DD is the date format as a string
#YYYYMMDD
import datetime
def dateDifference(date1, date2):
    year1 = int(date1[:4])
    month1 = int(date1[5:7])
    day1 = int(date1[8:])
    year2 = int(date2[:4])
    month2 = int(date2[5:7])
    day2 = int(date2[8:])
    d1 = datetime.date(year1, month1, day1)
    d2 = datetime.date(year2, month2, day2)
    return d2 - d1    
    
print(dateDifference('0001:01:01','2019:05:31'))

737209 days, 0:00:00

In [57]:
import calendar

calendar.isleap(2016)

True

In [59]:
# 2020 - True
# 1900 - False
# 1600 - True
# 2008 - True
# 400 - True
# 600 - False
# 
def isLeap(year):
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
        return True
    return False

isLeap(2020)

True

#### List Comprehensions

In [66]:


li = [1,2,3,4,5,6]

n = 123
sum(range(123))
sum(list(range(9+1))) # sum of n natural numbers

45

In [68]:
# calculate sum of squareroot of n natural numbers

from math import sqrt

def sumSqrtNNaturalNumbers(n):
    return sum([sqrt(i) for i in list(range(1, n+1))])

sqrtNNaturalNumbers(10)



def squareListElements(li):
    return [i ** 2 for i in li]

squareListElements(li)

[1, 4, 9, 16, 25, 36]

In [71]:
# define a function using list comprehension to 
#identify all numbers divisible by 9 in a list

li = list(range(1979, 2019))

def divisible9LC(li):
    return [i for i in li if (i % 4 == 0 and i % 100 != 0) or i % 400 == 0]

[i for i in li if (i % 4 == 0 and i % 100 != 0) or i % 400 == 0]

[1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

#### Maps

Functions and iterators are passed as parameters to Map

In [79]:

# Function to calculate cubes of all numbers in a list

li = [1,2,3,4,5,6, 7]

def cube(n):
    return n ** 3

for i in li:
    cube(i)

sum([cube(i) for i in li])
    
sum(list(map(cube, li)))

784