# JNTUA FDP - Day 05

#### Date : 31 May 2019

#### Day Objectives
* Tuples
* Dictionaries
* Idiomatic Programming in Python
* Regular Expressions
* Date Arithmetic
* Iterators and Generators
* Functional Programming

#### Python Tuples

In [1]:
t1 = (1001, 'name', 72, 90)

In [7]:
t1[2:]

(72, 90)

In [11]:
t2 = (321, 654, 789098)
# Accessing all the second digits of elements in a tuple
print(str(t2[0])[1],  str(t2[1])[1],  str(t2[2])[1])

2 5 8

In [18]:
# Function to calculate the Average of all elements in a tuple
def averageLinearDS(t):
    sum = 0
    #for i in range(0, len(t)):
     #   sum += t[i]
    for item in t:
        sum += item
    return sum/len(t)

li = [123, 243, 456, 678, 890]

averageLinearDS(li)
type(t1)

tuple

In [14]:
# Function to search in a Linear Data Structure

def searchLinearDS(ds, key):
    for item in range(0, len(ds)):
        if ds[i] == key:
            return i
    return -1

searchLinearDS(li, 456)

2

#### Iterable Objects

In [20]:

s = "python"
for i in s:
    print(i)

p
y
t
h
o
n

In [24]:
# Function to identify the maximum element in a DS as Iterable Object

def maxElementDS(ds):
    m = ds[0]
    for item in ds:
        if item < m:
            m = item
    return m
    
maxElementDS(li)

123

#### Python Dictionaries

In [28]:
d1 = {'name1':1234567789, 'name2':32157634875}
print(d1['name2'])

d1.keys() # All keys in a dictionary are unique
d1.values()

32157634875

dict_values([1234567789, 32157634875])

In [33]:
d1['name1'] = '3286427465'
d1

{'name2': 32157634875, 'name1': '3286427465'}

In [32]:
d1.pop('name1') # removes a key and value
d1

{'name2': 32157634875}

In [38]:
#d1.pop('name1')
d1.keys()

del d1

In [2]:
# Contacts Application
# Display, Add, Modify and Delete contacts

contacts = {}

def addContact(d, name, phone):
    d[name] = phone
    return

def displayContacts(contacts):
    for name, phone in contacts.items():
        print(name, ":", phone)
    return

def modifyContacts(contacts, name, newphone):
    contacts[name] = newphone
    return

def deleteContact(contacts, name):
    contacts.pop(name)
    return

In [6]:
#Adding Contacts
addContact(contacts, 'name2', 87458345)
addContact(contacts, 'name1', 364887458345)

In [8]:
#Display Contacts
displayContacts(contacts)

name2 : 87458345
name1 : 364887458345

In [9]:
contacts.items() # List of tuples of all items

dict_items([('name2', 87458345), ('name1', 364887458345)])

In [25]:
li2 = [1, 2, 3, 4]
li3 = [5, 6, 7, 8, 9]
li2 = list(reversed(li2))

type(li2)

li2

[4, 3, 2, 1]

In [23]:
enumerate(li2)
for i, value in enumerate(li2):
    print(i, ':', value)

0 : 4
1 : 3
2 : 2
3 : 1

In [29]:
li2
li3

for i, j in zip(li2, li3):
    print(i, j)
    
zip(li2, li3)

4 5
3 6
2 7
1 8